version: "3.9"

services:

  db:
    image: postgres:15-alpine
    container_name: feedback-db
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=changeme
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: feedback-backend
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=changeme
      - DB_NAME=postgres
      - DB_PORT=5432
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: feedback-frontend
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  db-data:
