replicaCount: 1
image:
  repository: ghcr.io/nimeshadil/frontend
  tag: latest
service:
  type: ClusterIP
  port: 8080
resources:
  limits:
    cpu: 1.5
    memory: 2Gi
  requests:
    cpu: 1
    memory: 1.5Gi
