replicaCount: 1
image:
  repository: ghcr.io/nimeshadil/backend
  tag: latest
service:
  type: ClusterIP
  port: 3000
resources:
  limits:
    cpu: 1.5
    memory: 2Gi
  requests:
    cpu: 1
    memory: 1.5Gi