name: Trivy Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Trivy
        uses: aquasecurity/trivy-action@0.33.1

      - name: Scan frontend source code (FS)
        run: trivy fs --exit-code 1 --severity HIGH,CRITICAL --format sarif --output trivy-frontend.sarif ./apps/frontend

      - name: Scan backend source code (FS)
        run: trivy fs --exit-code 1 --severity HIGH,CRITICAL --format sarif --output trivy-backend.sarif ./apps/backend

      - name: Upload Trivy frontend scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-frontend.sarif

      - name: Upload Trivy backend scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-backend.sarif